// Variables
$primary-color: #77a9de;
$secondary-color: #6c757d;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

// Grid like background
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0ee;
    background-image: linear-gradient(#e4e4e2 1px, transparent 1px), linear-gradient(90deg, #e4e4e2 1px, transparent 1px);
    background-size: 20px 20px;
}

a {
    text-decoration: none;
    color: #000;
}

// Header styles
.header {
    background-color: #242424;
    color: #fff;
    min-width: 1000px;

    .navbar {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding-left: 100px;
            display: flex;
            justify-content: center;

            li {
                font-family: 'Courier New', Courier, monospace;
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 5px;

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        font-weight: bold;
                    }
                }

                ::after {
                    content: "|";
                    padding-left: 10px;
                    color: #565656;
                }



            }

            li:last-child {
                ::after {
                    content: "";
                }
            }
        }
    }
}

// Main content styles
.main-content {
    display: flex;
    justify-content: space-between;
    

    .sidebar {
        min-width: 200px;
        flex-basis: 15%;
        background-color: #fff;
        margin: 100px 100px 100px 25px;
        padding: 20px;
        border-radius: 20px;
        height: fit-content;
        box-shadow: $box-shadow;

        .profile {
            display: flex;
            margin-bottom: 10px;
            justify-content: center;

            .profile-photo {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }

        .profile-text {
            text-align: center;
        }


        .social-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;

            li {
                display: inline-block;
                margin-bottom: 10px;
            }

            .social-link {
                display: flex;
                align-items: center;
                color: #000;
                text-decoration: none;

                i {
                    margin-right: 10px;
                }
            }
        }

        h2 {
            font-size: 20px;
            margin: 0 0 10px;
        }

        .categories {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .content {
        min-width: 500px;
        flex-basis: 85%;
        background-color: #fff;
        margin: 100px 0px 100px 100px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: $box-shadow;

        h2 {
            font-size: 24px;
            margin: 0 0 10px;
        }

        p {
            margin-bottom: 10px;
        }
    }
}

// Footer styles
.footer {
    //   background-color: $secondary-color;
    color: #000;
    padding: 20px;
    text-align: center;
}